body {
background-color: rgba(89, 83, 112, 0.8);
}

main {
  margin: auto;
  text-align: center;
  max-width: 1000px;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(70, 250, 240);
  text-decoration: none;
}

#navcontainer {
  background-color: rgba(210, 156, 20, 0.6);
  border-radius: 10px;
  display: inline-flex;
  padding: 5px;
  margin: 10px;
}

#topnavbar {
  display: inline-flex;
  text-decoration: none;
  margin: 3px;
  padding-left: 0px;
  padding: 5px;
  background-color: rgba(100, 130, 150, 0.6);
  border-radius: 10px;
}

#maintitle {
  font-size: 75px;
  color: rgba(80, 210, 170, 0.5);
  margin: 0px;
  text-decoration: underline;
  text-shadow:
}

#headtitle {
  font-size: 40px;
  color: rgba(210, 156, 20, 0.8);
  margin: 5px;
  margin-left: 20px;
  text-align: left;
}

#articledivider {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container {
  background-color: rgba(120, 160, 180, 0.4);
  border-radius: 20px;
  border-style: dotted;
  border-color: rgb(210, 156, 20);
  margin-top: 10px;
  padding: 5px;
}

.mainpage {
  font-size: 16px;
  text-align: left;
}

.footnote {
  text-align: center;
  padding-top: 2rem;
  font-size: 14;
  color: rgba(150, 150, 150, 0.5);
}
